<!DOCTYPE html>
<html>

<head>
  <title>Body Constructor - Login</title>
</head>

<body>
  <div class="logincontainer">
    <h1>Please login</h1>
    <br>
    <form method="post">
      <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}">
      <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}">
      <input class="loginbutton" type="submit" value="Login">
    </form>
    {% if error %}
    <p class="error">
      <strong>Error: </strong>{{ error }}
    {% endif %}
    {% for messages in get_flashed_messages() %}
      <div class="flash">{{ messages }}</div>
    </p>
    {% endfor %}
  </div>
</body>
